<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>投票页 | NKTRY投票系统</title>
</head>
<body>
{% for message in messages %}
{{ message }}
{% endfor %}
----------------------
<p>{{ question }}</p>
<p>{{ choices }}</p>
<div class="box">
    {% if geetest_url %}
    <script type="text/javascript" src="{{ geetest_url }}"></script>
    {% else %}
    <p> please insert your local captcha system code! </p>
    {% endif %}
</div>
{% load staticfiles %}
<script type="text/javascript" charset="utf-8" id="gt_lib" src="http://static.geetest.com/static/js/geetest.3.0.30.js"></script>
</body>
</html>