beautifulsoup4==4.4.0
bottle==0.11.6
Django==1.8
django-autocomplete-light==2.2.5
django-hosts==1.2
Django-WeRoBot==0.1.2
DjangoUeditor==1.8.143
gevent==1.0.2
greenlet==0.4.7
gunicorn==19.3.0
MySQL-python==1.2.5
Pillow==2.9.0
requests==2.2.1
six==1.5.2
WeRoBot==0.6.0
