{% extends "frontend/base.html" %}

{% block title %}{{ secondary.name }} | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static "frontend/img/logo.png" %}" height="40px" alt="NKTC"/>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                {% for item in mains %}
                    {% if item.name == main.name %}
                    <li class="active"><a href="{% url 'main_menu' item.codename %}">{{ item.name }}</a></li>
                    {% else %}
                    <li><a href="{% url 'main_menu' item.codename %}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <form class="navbar-form navbar-right search" role="search" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="content" placeholder="您想知道...">
                </div>
                <button type="submit" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container breadcrumb-div">
    <ol class="breadcrumb">
        <span class="breadcrumb-title">您当前的位置：</span>
        <li><a href="/">首页</a></li>
        <li><a href="{% url 'main_menu' main.codename %}">{{ main.name }}</a></li>
        <li><a href="{% url 'secondary_menu' main.codename secondary.codename %}">{{ secondary.name }}</a></li>
        <li class="active">{{ article.title }}</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 >{{ article.title }}</h3>
                    <h5 class="text-info inline-block page-vicetitle">{{ article.pub_date }}</h5>
                    <h5 class="text-info inline-block page-vicetitle">编辑：{{ article.author.nickname }}</h5>
                    <div class="bshare-custom inline-block">
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    </div>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=bc3a2e5a-74a2-48c7-a5a5-cbf651bdca86&amp;pophcol=1&amp;lang=zh">
                    </script>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js">
                    </script>
                </div>
                <div class="col-xs-12 page-content">
                    {{ article.text|safe }}
                </div>
                <div class="col-xs-12">
                    <h5 class="page-share"> </h5>
                </div>
                <!-- UY BEGIN -->
                <div id="uyan_frame" class="col-xs-12"></div>
                <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2020518"></script>
                <!-- UY END -->
            </div>
        </div>
        <div class="col-md-3 col-xs-12 article-sidebar">
            <div class="list-sidebar-title">推荐阅读</div>
            <section class="list-sidebar-content">
                {% for item in hot %}
                    {% if item != hot.0 %}
                    <hr/>
                    {% endif %}
                <div class="list-sidebar-recommand">
                    <div class="list-sidebar-recommand-title">
                        <a href="{% url 'content' main.codename secondary.codename item.id %}">{{ item.title }}</a>
                    </div>
                    <div class="list-sidebar-recommand-reason">
                        {{ item.description }}
                    </div>
                    <div class="list-sidebar-recommand-author">
                        [ <span class="news-authorname">{{ item.author.nickname }}</span> • {{ item.pub_date }} ]
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="footer-title">联系我们</h4>
                <ul class="list-unstyled">
                    <li>南开中学体验创意中心协会</li>
                    <ul>
                        <li>QQ : 2254529127</li>
                        <li>Email : support@nktry.com</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="footer-title">创新人才</h4>
                <img src="{% static "frontend/img/code.jpg" %}" alt="微信二维码" width="150px">
            </div>
            <div class="col-lg-3">
                <h4 class="footer-title">友情链接</h4>
                <ul class="list-unstyled contactus-list">
                    <li>
                        <a href="http://www.nkzx.cn/" target="_blank">
                            <img src="{% static "frontend/img/nkzx.png" %}" width="270" height="70">
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.sina.com.cn/nankaizhongxue" target="_blank">
                            <img src="{% static "frontend/img/NKSU.jpg" %}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="copyright text-right">
                    Powered By 天津市憬炼科技发展有限公司<br>
                    © 2012 - 2014 NKTC<br>
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">津ICP备14004209号-3</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}