{% extends "frontend/base.html" %}

{% block title %}首页 | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static "frontend/img/logo.png" %}" height="40px" alt="NKTC"/>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                {% for item in mains %}
                    {% if item.name == main.name %}
                    <li class="active"><a href="{% url 'main_menu' item.codename %}">{{ item.name }}</a></li>
                    {% else %}
                    <li><a href="{% url 'main_menu' item.codename %}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <form class="navbar-form navbar-right search" role="search" method="post" action="{% url 'search' %}">
            	{% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="content" placeholder="您想知道...">
                </div>
                <button type="submit" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4 border">
            <div id="slider" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for slider_item in slider %}
                    {% if slider_item == slider.0 %}
                    <div class="item active">
                        <a href="{% url 'content' slider_item.push.parent.parent.codename slider_item.push.parent.codename slider_item.push.id %}"><img src="/media/{{ slider_item.img.url }}" width="100%" alt="..."></img></a>
                        <div class="carousel-caption">
                            <h5>{{ slider_item.push.title }}</h5>
                            <p>{{ slider_item.text }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <a href="{% url 'content' slider_item.push.parent.parent.codename slider_item.push.parent.codename slider_item.push.id %}"><img src="/media/{{ slider_item.img.url }}" width="100%" alt="..."></img></a>
                        <div class="carousel-caption">
                            <h5>{{ slider_item.push.title }}</h5>
                            <p>{{ slider_item.text }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- Controls-->
                <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8 hotarticle">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#cata1" aria-controls="cata1" role="tab" data-toggle="tab">{{ news_category.0.1 }}</a></li>
                <li role="presentation"><a href="#cata2" aria-controls="cata2" role="tab" data-toggle="tab">{{ news_category.1.1 }}</a></li>
                <li role="presentation"><a href="#cata3" aria-controls="cata3" role="tab" data-toggle="tab">{{ news_category.2.1 }}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="cata1">
                    {% for item in news.0 %}
                    <p>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="{% url 'content' item.push.parent.parent.codename item.push.parent.codename item.push.id %}">{{ item.title }}</a>
                        {% if item.push.hits > 20 %}
                        <span class="label label-danger">HOT</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="cata2">
                    {% for item in news.1 %}
                    <p>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="{% url 'content' item.push.parent.parent.codename item.push.parent.codename item.push.id %}">{{ item.title }}</a>
                        {% if item.push.hits > 20 %}
                        <span class="label label-danger">HOT</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="cata3">
                    {% for item in news.2 %}
                    <p>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="{% url 'content' item.push.parent.parent.codename item.push.parent.codename item.push.id %}">{{ item.title }}</a>
                        {% if item.push.hits > 20 %}
                        <span class="label label-danger">HOT</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container border activity">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-xs-12">
                {% if activity != None %}
                <div class="row present-activity">
                    <a href="{{ activity.url }}"><img class="img-rounded" id="present-activity-img" src="/media/{{ activity.img.url }}" width="100%" alt="{{ activity.title }}"/></a>
                    <div class="present-activity-passage">
                        <dl>
                            <dt><a href="{{ activity.url }}">{{ activity.title }}</a></dt>
                            <dd>{{ activity.author }}[{{ activity.pub_date }}]</dd>
                        </dl>
                    </div>
                    <div class="present-activity-content">
                        <p>{{ activity.text }}</p>
                    </div>
                </div>
                {% else %}
                <div class="row present-activity">
                    <img class="img-rounded" id="present-activity-img" src="{% static "frontend/img/no-current-activity.jpg" %}" width="100%" alt="现在没有进行中的活动哦~"/>
                    <div class="present-activity-passage">
                        <dl>
                            <dt>现在没有进行中的活动哦~</dt>
                            <dd>Admin[2015年5月15日]</dd>
                        </dl>
                    </div>
                    <div class="present-activity-content">
                        <p>暂无信息</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 history-activity">
            {% for item in activities %}
            <a href="{{ item.url }}"><img class="col-xs-6 col-sm-12 history-activity-1" src="/media/{{ item.old_img.url }}" width="100%" alt="{{ item.title }}"/></a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container news">
    <div class="row news-banner">
        <h4>最新动态</h4>
        <hr/>
    </div>
    {% for item in articles %}
    <div>
        <div class="row">
            <div class="col-xs-5 news-cata">
                {{ item.parent.parent.name }} / {{ item.parent.name }}
            </div>
            <div class="col-xs-7 text-right news-author">{{ item.author }} {{ item.pub_date }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a href="{% url 'content' item.parent.parent.codename item.parent.codename item.id %}"><img src="/media/{{ item.cover_img }}" width="100%" alt="news"/></a>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h3 class="news-title"><a href="{% url 'content' item.parent.parent.codename item.parent.codename item.id %}">{{ item.title }}</a></h3>
                <p class="news-des">{{ item.description }}</p>
            </div>
        </div>
        <hr/>
    </div>
    {% endfor %}
</div>

<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="footer-title">联系我们</h4>
                <ul class="list-unstyled">
                    <li>南开中学体验创意中心协会</li>
                    <ul>
                        <li>QQ : 2254529127</li>
                        <li>Email : support@nktry.com</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="footer-title">创新人才</h4>
                <img src="http://www.nktry.com/static/img/code.jpg" alt="微信二维码" width="150px">
            </div>
            <div class="col-lg-3">
                <h4 class="footer-title">友情链接</h4>
                <ul class="list-unstyled contactus-list">
                    <li>
                        <a href="http://www.nkzx.cn/" target="_blank">
                            <img src="http://www.nktry.com/static/img/nkzx.png" width="270" height="70">
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.sina.com.cn/nankaizhongxue" target="_blank">
                            <img src="http://www.nktry.com/static/img/NKSU.jpg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p class="copyright text-right">
                    Powered By 天津市憬炼科技发展有限公司<br>
                    © 2012 - 2014 NKTC<br>
                    <a href="http://www.miitbeian.gov.cn/" target="_blank">津ICP备14004209号-3</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}