{% extends "frontend/base.html" %}

{% block title %}首页 | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12" style="margin-bottom:15px">
            <div class="card-panel" style="width:100%;background-color:#0BAA9A;color:white;padding:5px;margin-bottom:3px;" align="center">
        <h5>图片概览</h5>
</div>
            <div id="slider" class="carousel slide z-depth-2" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% if slider != None %}
                    {% for slider_item in slider %}
                    {% if slider_item == slider.0 %}
                    <div class="item active">
                        <a href="{% url 'content' slider_item.push.parent.parent.codename slider_item.push.parent.codename slider_item.push.id %}"><img src="/media/{{ slider_item.img.url }}" width="100%" alt="..."></img></a>
                        <div class="carousel-caption">
                            <h5>{{ slider_item.push.title }}</h5>
                            <p>{{ slider_item.text }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <a href="{% url 'content' slider_item.push.parent.parent.codename slider_item.push.parent.codename slider_item.push.id %}"><img src="/media/{{ slider_item.img.url }}" width="100%" alt="..."></img></a>
                        <div class="carousel-caption">
                            <h5>{{ slider_item.push.title }}</h5>
                            <p>{{ slider_item.text }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="item active">
                        <a href="#"><img src="{% static "frontend/img/no-active-slider.jpg" %}" width="100%" alt="..."></img></a>
                        <div class="carousel-caption">
                            <h5>暂时没有展示中的内容</h5>
                            <p>暂无信息</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- Controls-->
                <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12"  style="margin-bottom:15px">
            <div class="card-panel" style="width:100%;background-color:#0BAA9A;color:white;padding:5px;margin-bottom:3px;" align="center">
        <h5>板块概览</h5>
</div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#cata1" aria-controls="cata1" role="tab" data-toggle="tab">{{ news_category.0.1 }}</a></li>
                <li role="presentation"><a href="#cata2" aria-controls="cata2" role="tab" data-toggle="tab">{{ news_category.1.1 }}</a></li>
            </ul>
            <div class="tab-content z-depth-2">
                <div role="tabpanel" class="tab-pane fade in active" id="cata1">
                    {% for item in news.0 %}
                    <p>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="{% if item.url == "" %}{% url 'content' item.push.parent.parent.codename item.push.parent.codename item.push.id %}{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a>
                        {% if item.push.hits > 20 %}
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="cata2">
                    {% for item in news.1 %}
                    <p>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="{% if item.url == "" %}{% url 'content' item.push.parent.parent.codename item.push.parent.codename item.push.id %}{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a>
                        {% if item.push.hits > 20 %}
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-xs-12" style="margin-bottom:15px">
            <div class="card-panel" style="width:100%;background-color:#0BAA9A;color:white;padding:5px;margin-bottom:3px;" align="center">
        <h5>活动概览</h5>
</div>
                {% if activity != None %}
                <div class="border z-depth-2">
                    <a href="{{ activity.url }}"><img id="present-activity-img" src="/media/{{ activity.img.url }}" width="100%" alt="{{ activity.title }}"/></a>
                    <div class="present-activity-passage">
                        <dl>
                            <dt><a href="{{ activity.url }}">{{ activity.title }}</a></dt>
                            <dd>{{ activity.author.nickname }} [{{ activity.pub_date }}]</dd>
                        </dl>
                    </div>
                    <div style="padding-left:16px">
                        <p>{{ activity.text }}</p>
                    </div>
                </div>
                {% else %}
                <div class="border z-depth-2"> <!--觉得自己好像越改越丑了..........求dalao拯救-->
                    <h4 align="center">抱歉</h4>
                    <h4 align="center">我们暂时没有正在进行的活动</h4>
					<h4 align="center">更多信息请关注我们的微信公众号</h4>
					<h4 align="center">南开体创之梦</h4>
                </div>
                {% endif %}
            </div>
        </div>
</div>
<div class="container">
<div class="card-panel" style="width:100%;background-color:#0BAA9A;color:white;padding:5px;margin-bottom:3px;" align="center">
        <h5>全站最新动态</h5>
</div>
</div>
<div class="container news">
    {% for item in articles %}
    <div class="card-panel z-depth-2" style="padding:20px;">
        <div class="row" style="padding-bottom:5px;margin-bottom:5px">
            <div class="col-xs-5 news-author">
                {{ item.parent.parent.name }} | {{ item.parent.name }}
            </div>
            <div class="col-xs-7 text-right news-author">{{ item.author.nickname }} {{ item.pub_date }}</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 hidden-xs">
                <a href="{% url 'content' item.parent.parent.codename item.parent.codename item.id %}"><img src="/media/{{ item.cover_img }}" width="100%" alt="news"/></a>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h4 class="news-title"><a href="{% url 'content' item.parent.parent.codename item.parent.codename item.id %}">{{ item.title }}</a></h4>
                <p class="news-des">{{ item.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
