{% extends "frontend/base.html" %}

{% block title %}{{ secondary.name }} | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="container breadcrumb-div">
    <ol class="breadcrumb card-panel">
        <span class="breadcrumb-title">您当前的位置：</span>
        <li><a href="/">首页</a></li>
        <li><a href="{% url 'main_menu' main.codename %}">{{ main.name }}</a></li>
        <li class="active">{{ secondary.name }}</li>
    </ol>
</div>

<div class="container">
    <div class="col-md-9 list-secondary-left">
        {% for item in articles %}
        {% if item != articles.0 %}
        <hr/>
        {% endif %}
        <div class="card-panel" style="padding:10px">
            <div class="row">
                <div class="col-xs-5 news-cata list-news-cata">
                    {{ main.name }} / {{ secondary.name }}
                </div>
                <div class="col-xs-7 text-right news-author list-news-author"><span class="news-authorname">{{ item.author.nickname }}</span> • {{ item.pub_date }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="{% url 'content' main.codename secondary.codename item.id %}"><img  src="/media/{{ item.cover_img.url }}" width="100%" alt="{{ item.title }}"/></a>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h3 class="news-title"><a href="{% url 'content' main.codename secondary.codename item.id %}">{{ item.title }}</a></h3>
                    <p class="news-des">{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <hr/>

            <ul class="pager">
            {% if articles.has_previous %}
                <li class="previous"><a href="?page={{ articles.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span> 上一页</a></li>
                {% else %}
                <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> 上一页</a></li>
            {% endif %}
            <li class="news-des current">第 {{ articles.number }} 页 | 共 {{ articles.paginator.num_pages }} 页</li>
            {% if articles.has_next %}
                <li class="next"><a href="?page={{ articles.next_page_number }}"><span class="glyphicon glyphicon-chevron-right"></span> 下一页</a></li>
                {% else %}
                <li class="next disabled"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> 下一页</a></li>
            {% endif %}
            </ul>
    </div>
    <div class="col-md-3 list-secondary-right">
        <div class="list-sidebar-title">推荐阅读</div>
        <section class="list-sidebar-content">
            {% for item in hot %}
                {% if item != hot.0 %}
                <hr/>
                {% endif %}
            <div class="list-sidebar-recommand card-panel" style="padding:7px;margin-bottom:7px">
                <div class="list-sidebar-recommand-title">
                    <a href="{% url 'content' main.codename secondary.codename item.id %}">{{ item.title }}</a>
                </div>
                <div class="list-sidebar-recommand-reason">
                    {{ item.description }}
                </div>
                <div class="list-sidebar-recommand-author">
                    [ <span class="news-authorname">{{ item.author.nickname }}</span> • {{ item.pub_date }} ]
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</div>
{% endblock %}
