{% extends "frontend/base.html" %}

{% block title %}{{ main.name }} | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}
<div class="container breadcrumb-div">
    <ol class="breadcrumb card-panel">
        <span class="breadcrumb-title">您当前的位置：</span>
        <li><a href="/">首页</a></li>
        <li>{{ main.name }}</li>
    </ol>
</div>

<div class="container">
    <div class="row">
    	{% for item in secondaries %}
        <div class="col-md-4 col-xs-6 card-panel" style="padding:10px;">
            <a href="{% url 'secondary_menu' item.parent.codename item.codename %}">
                <img src="/media/{{ item.img.url }}" alt="{{ item.name }}" style="width:80%;margin-left:10%;height:auto;max-width:350px">
                <h3 class="text-center">{{ item.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
