{% extends "frontend/base.html" %}

{% block title %}{{ secondary.name }} | 南开中学体验创意中心{% endblock %}

{% load staticfiles %}

{% block content %}

<div class="container">
            <div class="breadcrumb-div">
            <ol class="breadcrumb card-panel">
                <span class="breadcrumb-title">您当前的位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'main_menu' main.codename %}">{{ main.name }}</a></li>
                <li class="active">{{ secondary.name }}</li>
            </ol>
        </div>
    <div class="col-md-9 list-secondary-left">
        {% for item in articles %}
        <div class="card-panel">
            <div class="row">
                <div class="col-xs-5 news-cata list-news-cata">
                    {{ main.name }} / {{ secondary.name }}
                </div>
                <div class="col-xs-7 text-right news-author list-news-author"><span class="news-authorname">{{ item.author.nickname }}</span> • {{ item.pub_date }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="{% url 'content' main.codename secondary.codename item.id %}"><img src="/media/{{ item.cover_img.url }}" width="100%" alt="{{ item.title }}"/></a>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h3 class="news-title"><a href="{% url 'content' main.codename secondary.codename item.id %}">{{ item.title }}</a></h3>
                    <p class="news-des">{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
            <ul class="pager">
                <li class="next"><a href="{% url 'secondary_menu_all' main.codename secondary.codename %}">想要阅读更多内容 <span class="glyphicon glyphicon-question-sign"></span></a></li>
            </ul>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            {% for item in secondaries %}
            {% if item == secondary %}
            <a class="list-group-item" href="{% url 'secondary_menu' item.parent.codename item.codename %}" style="line-height:3em;color:white;background-color:#036C62;">{{ item.name }}</a>
            {% else %}
            <a class="list-group-item" href="{% url 'secondary_menu' item.parent.codename item.codename %}" style="line-height:1.5em;">{{ item.name }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
